@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* Variables */
:root {
	/* Background */
	--bg-color: #000000;
	--alt-bg-color: #ffffff;

	/* Color */
	--color: #ffffff;
	--alt-color: #000000;
}
